body {
    background-image: linear-gradient(to right, #41295a 0%, #2F0743 100%);
}
#head {
    color: rgba(245, 245, 245, 0.578);
    text-shadow: 3px 3px 15px rgba(255, 255, 255, 0.85);
    background-color: #02090c;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-size: 80px;
    letter-spacing: 10px;
    height: fit-content;
}

.cosmos {
    color: rgba(245, 245, 245, 0.578);
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-size: 20px;
    letter-spacing: 10px;
    height: fit-content;
}
#note {
    color: grey;
    opacity: 1;
    margin: 5px 0px;
}

#noted {
    border-radius: 7px;
    opacity: 0.8;
    color: black;
    margin: 5px;
}
