{% extends "base.html" %}
{% block header %}
 <title> Welcome </title> 
 <link rel="stylesheet" href="{{url_for('static',filename='css/cbot_style.css')}}">
 {% endblock %}
{% block content %} 
<center>
    <h1>
      Le Bot
    </h1>
  </center>
  <div class="boxed">
    <div>
      <div id="chatbox">
        <p class="botText">
          <span>Hi! I'm ChatBot</span>
        </p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Enter message.." />
      </div>
    </div>
    {% endblock %}
{% block javascript %}
    <script>
      function getBotResponse() {
        var rawText = $("#textInput").val();
        var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
        $("#textInput").val("");
        $("#chatbox").append(userHtml);
        document
          .getElementById("userInput")
          .scrollIntoView({ block: "start", behavior: "smooth" });
        $.get("/get", { msg: rawText }).done(function(data) {
          var botHtml = '<p class="botText"><span>' + data + "</span></p>";
          $("#chatbox").append(botHtml);
          document
            .getElementById("userInput")
            .scrollIntoView({ block: "start", behavior: "smooth" });
        });
      }
      $("#textInput").keypress(function(e) {
        if (e.which == 13) {
          getBotResponse();
        }
      });
    </script>
  </div>
{% endblock %}