{% extends "base.html" %}
{% block header %}
 <title> Bot </title> 
 <link rel="stylesheet" href="{{url_for('static',filename='css/cbot_style.css')}}">
 {% endblock %}
{% block content %} 
<center>
    <h1>
       Le Bot
    </h1>
</center>
    <div class="container">
        <div class="box">
            {% for input in user.user_data %}
            <div class="User" id="userMsg">
                <p>Me: {{ input.user_inp }} </p>
            </div>
            {% endfor %}
            {% for res in user.bot_data %}
            <div class="Bot" id="botMsg">
              <p>Bot: {{ res.bot_res }} </p>  
            </div>
            {% endfor %}
            <form method="POST" action='/bot'>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Send Message.." id="userInp" name="userInp" onfocus=this.value=''>
                    <input type="Submit" value="Send" class="btn btn-danger" id="send">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{url_for('static',filename='js/bot_java.js')}}"></script>
{% endblock %}