{% extends "base.html" %}
{% block header %}
 <title> Bot </title> 
 <link rel="stylesheet" href="{{url_for('static',filename='css/cbot_style.css')}}">
 {% endblock %}
{% block content %} 
<center>
    <h1>
       Le Bot
    </h1>
</center>
    <div class="container">
        <div class="box">
            <div class="Bot" id="botMsg">
                <p id="text">Bot: Hi! I'm the Si bot! How can I help you? </p>  
            </div>
            {% for input in user.bot_data %}
                {% if input.u_id == user.id %}
                <div class="User" id="userMsg">
                    <p id="text">{{ user.name }}: {{ input.user_input }} </p>
                </div>
                    <div class="Bot" id="botMsg">
                            <p id="text"> Bot: {{ input.bot_res }} </p>  
                    </div>
                {% endif %}
            {% endfor %}
            <form method="POST" action='/bot'>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Send Message.." id="userInp" name="userInp" onfocus=this.value=''>
                    <input type="Submit" value="Send" class="btn btn-danger" id="send">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{url_for('static',filename='js/bot_java.js')}}"></script>
{% endblock %}