{% extends "base.html" %} <!--Jinja to extend base template-->

{% block header %}
<title> Si Home </title>
{% endblock %}

{% block content%}  <!--Jinja body overwritten -->
  <div class="everything">    
    <div id="carousel" class="carousel slide carousel-fade" data-interval="5000" data-bs-ride="carousel">
           <div class="carousel-inner">
               <div class="carousel-item active">
                 <img src="{{url_for('static', filename='images/Slideshow/1.jpg')}}" class="d-block w-100" alt="">
               </div>
               <div class="carousel-item">
                 <img src="{{url_for('static', filename='images/Slideshow/2.jpg')}}" class="d-block w-100" alt="">
               </div>
               <div class="carousel-item">
                 <img src="{{url_for('static', filename='images/Slideshow/3.jpg')}}" class="d-block w-100" alt="">
               </div>
               <div class="carousel-item">
                 <img src="{{url_for('static', filename='images/Slideshow/4.jpg')}}" class="d-block w-100" alt="">
               </div>
               <div class="carousel-item">
                 <img src="{{url_for('static', filename='images/Slideshow/5.jpg')}}" class="d-block w-100" alt="">
               </div>
               <div id="black" class="col--4 text-clr2">
                 <h1 class="display-4">Space Informatics</h1>
             </div>
           </div>
       </div>            
         <!-- Body Content -->
       <h2 class="head-1 p-4 m-0">The Cosmos</h2>
       <h6 class="cosmos"> "Where it all began"</h6>
       <div id="whole">
             <div class="wrapper">
                  <h2 class="short-heads" id="mercury">Space Informatics</h2>
                  <p class="content card-body p-4" style="text-align: center;">
                    Space Informatics is a webpage designed for your personal use. This is an idea under development. <br> So far we have added a cool <a class="link-warning" href="/bot">Chatbot!</a> Go check it out
                  </p>
                    <h2 class="short-heads" id="mercury">Mercury</h2>
                     <p class="content card-body p-4">
                       Mercury, the innermost planet of the solar system and the eighth in size and mass. Its closeness to the Sun and its smallness make it the most elusive of the planets visible to the unaided eye. Because its rising or setting is always within about two hours of the Sun’s, it is never observable when the sky is fully dark.
                     </p>
                    <h2 class="short-heads"><a name="Venus">Venus</a></h2>
                     <p class="content card-body p-4">
                       Venus is the second planet from the Sun. It is sometimes called Earth's "sister" or "twin" planet as it is almost as large and has a similar composition. As an interior planet to Earth, Venus (like Mercury) appears in Earth's sky never far from the Sun, either as morning star or evening star. Aside from the Sun and Moon, Venus is the brightest natural object in Earth's sky, capable of casting visible shadows on Earth at dark conditions and being visible to the naked eye in broad daylight
                     </p>
                    <h2 class="short-heads"><a name="Mars">Mars</a></h2>
                     <p class="content card-body p-4">
                       Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, only being larger than Mercury. In the English language, Mars is named for the Roman god of war. Mars is a terrestrial planet with a thin atmosphere (less than 1% that of Earth's), and has a crust primarily composed of elements similar to Earth's crust, as well as a core made of iron and nickel. Mars has surface features such as impact craters, valleys, dunes and polar ice caps. It has two small and irregularly shaped moons, Phobos and Deimos.
                     </p>
                    <h2 class="short-heads"><a name="Jupiter">Jupiter</a></h2>
                     <p class="content card-body p-4">
                      Jupiter is the fifth planet from our Sun and is, by far, the largest planet in the solar system – more than twice as massive as all the other planets combined. Jupiter's stripes and swirls are actually cold, windy clouds of ammonia and water, floating in an atmosphere of hydrogen and helium.
                     </p>
                    <h2 class="short-heads"><a name="Saturn">Saturn</a></h2>
                     <p class="content card-body p-4">
                      Saturn is the sixth planet from the Sun and the second-largest planet in our solar system. Like fellow gas giant Jupiter, Saturn is a massive ball made mostly of hydrogen and helium. Saturn is not the only planet to have rings, but none are as spectacular or as complex as Saturn's. Saturn also has dozens of moons.
                     </p>
                    <h2 class="short-heads"><a name="Uranus">Uranus</a></h2>
                     <p class="content card-body p-4">
                      Uranus is the seventh planet from the Sun, and has the third-largest diameter in our solar system. It was the first planet found with the aid of a telescope, Uranus was discovered in 1781 by astronomer William Herschel, although he originally thought it was either a comet or a star.
                     </p>
                    <h2 class="short-heads"><a name="Neptune">Neptune</a></h2>
                     <p class="content card-body p-4">
                      Neptune is one of two ice giants in the outer solar system (the other is Uranus). Most (80% or more) of the planet's mass is made up of a hot dense fluid of "icy" materials – water, methane, and ammonia – above a small, rocky core. Of the giant planets, Neptune is the densest.
                     </p>
                    <h2 class="short-heads"><a name="Pluto">Pluto</a></h2>
                     <p class="content card-body p-4">
                      Pluto is a dwarf planet that lies in the Kuiper Belt, an area full of icy bodies and other dwarf planets out past Neptune. Pluto is very small, only about half the width of the United States and its biggest moon Charon is about half the size of Pluto.
                     </p>
             </div>
       </div>
   </div>
  {% endblock %}
  